@import url(fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,600,700);
body {
  color: #555;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
#header {
  background-color: black;
  height: 150px;
  line-height: 155px;
}
#header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#header a:hover {
  color: gray;
}
#header-title {
  display: block;
  float: left;
  font-size:30px;
  font-weight:bold;
}
#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}
#header-nav li {
  display: inline;
  padding-left: 20px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.post-container:nth-child(odd) {
  background-color: #f2f2f2;
}
#footer {
  background-color: #2f2f2f;
  padding: 50px 0;
}
#footer p {
  color: white;
}
a {
  color: #1abc9c;
  text-decoration: none;
}
a:hover {
  color: #F6A623;
  text-decoration: none;
}
.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}
#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.post {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
.post-author span {
  margin-left: 16px;
  font-family: fantasy;
}
.post-date {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1, h2, h3, h4 {
  color: #333;
}
p {
  line-height: 1.5;
}
.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}
.post-author img, .about-author img {
  border-radius: 50%
}
.footer-links {
color: blue;
font-size: 1em;
}


<!-- showcase-------------------------------------------------------------- -->

.showcase {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.showcase * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.showcase img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.showcase figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.showcase figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #700877;
  content: '';
  background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  opacity: 0.8;
  z-index: -1;
}

.showcase .date {
  background-color: #fff;
  border-radius: 50%;
  color: #700877;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: -25px;
}

.showcase .date span {
  display: block;
  line-height: 14px;
}

.showcase .date .month {
  font-size: 11px;
}

.showcase h3,
.showcase p {
  margin: 0;
  padding: 0;
}

.showcase h3 {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.showcase p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.showcase a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.showcase:hover img,
.showcase.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

<!-- End Showcase -------------------------------------------------------- -->
